* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #3ba4d9;
  background: linear-gradient(0deg,rgba(59, 164, 217, 0.8) 21%, rgba(59, 201, 217, 0.67) 54%);
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  display: flex;
  flex-direction: column; 
  gap: 1.5rem;
  justify-content: center;
  background: #fff;
  border-radius: 1.5rem;
  padding: 2rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  width: clamp(280px, 80%, 900px);
}

.profile{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap; /* still responsive, but controlled */
}
.bio{
  color: gray;
}
figure{
  flex: 0 0 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2rem;
}
figcaption{
  color: gray;
  margin-top: 1rem;
  text-align: center;
  font-weight: 600;
  white-space: nowrap;
}
img{
  width: 120px;
  max-width: 150px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
}

.info {
  flex: 1 1 100px;
}

#time {
  font-family: "Courier New", monospace;
  margin-top: 20px;
  font-size: .75rem;
  color: gray;
}

/*Socials*/
.socials {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 1rem;
  flex-wrap: wrap;
  margin-left: 3rem;
}
.socials nav{
  display: flex;
  gap: 1.5rem;
  margin-left: 20px;
}
.socials a{
  background-color: #3ba4d9;
  text-decoration: none;
  padding: .5rem .75rem;
  border-radius: 8px;
}
.socials a:hover{
  background-color: #3cbeff;
  transition: all .3s ease-in-out;
}
.socials a:focus-visible {
  outline: 2px solid #3ba4d9;
  outline-offset: 3px;
}

/*Hobbie*/
.hobbies{
  margin-top: 20px;
  margin-left: 3rem;
}
.hobbies ul{
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  margin-left: 20px;
}

/*Dislikes*/
.dislikes{
  margin-top: 20px;
  margin-left: 3rem;
}
.dislikes ul{
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  margin-left: 20px;
}


/*Responsive*/
/*Tablet*/
@media (max-width: 768px) {
  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  figure{
    margin: 0;
  }
  
  .socials nav {
    flex-direction: row;
    align-items: center;
  }

  .hobbies ul,
  .dislikes ul {
    justify-content: center;
  }

  .card {
    padding: 1.5rem;
  }
}

/*Mobile*/
@media (max-width: 480px) {
  .socials{
    margin: 0;
  }
  .socials nav {
    flex-direction: column;
  }

  .hobbies{
    margin: 0;
  }
  .hobbies ul{
    margin-left: 5rem;
    gap: 10px;
    flex-direction: column;
  }
  
  .dislikes{
    margin: 0;
  }
  .dislikes ul{
    margin-left: 5rem;
    gap: 10px;
    flex-direction: column;
  }
}